In [1]:
import numpy as np
import pandas as pd
from openpyxl import load_workbook
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_excel('data-set.xlsx', sheet_name='Data Aktifitas', header=3)

In [3]:
df = data.copy() # Run cell ini agar tidak perlu load read_excel

In [4]:
df.reset_index()
df.index += 1

In [5]:
df.drop('No.', axis=1, inplace=True)

In [6]:
df.head()

,Tanggal,Nomor,ATM ID,Lokasi,Jenis Layanan,Laporan Kerusakan,Pekerjaan Dilakukan,Nomor Tiket,Penggantian Sparepart,Jumlah Part,Status,CSE,Pilihan
1,16 Juli 2020,88826.0,ATM00001,RUANG UAT DPTI,Error,Hardware,"Check & Clean all devices, replace ..............",2007-100,Hard Disk,1,,M. Yani,NaN
2,03 Maret 2020,86010.0,ATM120029008,PLN AHMAD YANI,Error,Hardware,"Check & Clean all devices, replace EPP5 & CCA ...",2003-028,CCA Dispenser (CCA Kit Presenter Ctrl.) 49-747...,1,,Hendri Apridzal,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"EPP5(BSC),LGE,STTL,ENG(AU),QZ1,BLANK,X,I,O",1,,Hendri Apridzal,NaN
4,02 September 2020,90681.0,ATM120044005,GRAHA ENERGY,PM 1,Preventive Maintenance,"Check & Clean all devices, no replace, test OK.",,,,,ozi medina,NaN
5,09 September 2020,89466.0,ATM120047014,NaN,Installation,Installation,"Instalasi ATM, Check all devices, test OK.",,,,,M. Yani,NaN

Selanjutnya, saya akan me-rename nama kolom dan mengubah semua value string menjadi huruf kecil untuk alasan kesetaraan (kecuali `ATM ID`).

In [7]:
col_dict = {'Tanggal':'tanggal',
            'Nomor':'nomor',
            'ATM ID':'atm_id',
            'Lokasi':'lokasi',
            'Jenis Layanan':'jenis_layanan',
            'Laporan Kerusakan':'lap_kerusakan',
            'Pekerjaan Dilakukan':'perlakuan',
            'Nomor Tiket':'no_tiket',
            'Penggantian Sparepart':'sparepart',
            'Jumlah Part':'jml_part',
            'Status':'status',
            'CSE':'cse',
            'Pilihan':'pilihan'}

In [8]:
df.rename(columns=col_dict, inplace=True)

In [9]:
df['lokasi'] = df['lokasi'].str.lower()
df['jenis_layanan'] = df['jenis_layanan'].str.lower()
df['lap_kerusakan'] = df['lap_kerusakan'].str.lower()
df['perlakuan'] = df['perlakuan'].str.lower()
df['sparepart'] = df['sparepart'].str.lower()
df['cse'] = df['cse'].str.lower()

In [10]:
df.isna().sum()

tanggal           491
nomor             491
atm_id            491
lokasi            635
jenis_layanan     491
lap_kerusakan     491
perlakuan         491
no_tiket          491
sparepart           0
jml_part            0
status              0
cse                 0
pilihan          3662
dtype: int64

In [11]:
df['status'].value_counts()

     3662
Name: status, dtype: int64

In [12]:
df.shape

(3662, 13)

Kolom `pilihan` memiliki missing value yang sama dengan length df. Kolom `status` jika dilihat langsung di dataset-nya, hampir semua merupakan space kosong, bukan NaN. Oleh karena itu, saya drop ketiga kolom ini.

In [13]:
df.drop('pilihan', axis=1, inplace=True)
df.drop('status', axis=1, inplace=True)

In [14]:
df['no_tiket'].value_counts()

              3002
2009-1352        2
2007-096         2
2009-1355        2
2004-042         2
              ...
2005-060         1
2003-036         1
2009-1364        1
2007-094         1
2001-002         1
Name: no_tiket, Length: 166, dtype: int64

In [15]:
df['sparepart'].value_counts()

                                                       2533
feedshaft *opteva*                                      216
whl t/a ovrmld ( take away snap on wheel ** new **      207
stripper snaponwheel wide standard  *** new ***         181
feed shaft                                              104
                                                       ...
dc opteva                                                 1
cca dispenser opteva                                      1
mainboard p.90                                            1
cca power 24 volt                                         1
presenter r/l                                             1
Name: sparepart, Length: 82, dtype: int64

In [16]:
df['jml_part'].value_counts()

      2533
1      692
2      328
3       64
4       33
0       10
8        2
Name: jml_part, dtype: int64

Berbeda dengan kolom `pilihan` dan `status`, kolom `no_tiket`, `sparepart`,  dan `jml_part` cukup penting karena, asumsi saya, merupakan tujuan dari data set ini. Maka untuk data yang berupa space kosong, saya ganti `sparepart` dan `no_tiket` dengan '-' dan `jml_part` dengan '0'.

In [17]:
df['no_tiket'] = df['no_tiket'].replace(' ', '-')
df['sparepart'] = df['sparepart'].replace(' ', '-')
df['jml_part'] = df['jml_part'].replace(' ', '0')

In [18]:
df['jml_part'] = df['jml_part'].astype(int)

In [19]:
df.isna().sum()

tanggal          491
nomor            491
atm_id           491
lokasi           635
jenis_layanan    491
lap_kerusakan    491
perlakuan        491
no_tiket         491
sparepart          0
jml_part           0
cse                0
dtype: int64

Sisa missing value yang ada akan saya drop barisnya.

In [20]:
df.dropna(inplace=True)

In [21]:
df.isna().sum()

tanggal          0
nomor            0
atm_id           0
lokasi           0
jenis_layanan    0
lap_kerusakan    0
perlakuan        0
no_tiket         0
sparepart        0
jml_part         0
cse              0
dtype: int64

Selanjutnya, saya akan me-rename nama kolom dan mengubah semua value string menjadi huruf kecil untuk alasan kesetaraan.

In [22]:
df.shape

(3027, 11)

In [23]:
df

,tanggal,nomor,atm_id,lokasi,jenis_layanan,lap_kerusakan,perlakuan,no_tiket,sparepart,jml_part,cse
1,16 Juli 2020,88826.0,ATM00001,ruang uat dpti,error,hardware,"check & clean all devices, replace ..............",2007-100,hard disk,1,m. yani
2,03 Maret 2020,86010.0,ATM120029008,pln ahmad yani,error,hardware,"check & clean all devices, replace epp5 & cca ...",2003-028,cca dispenser (cca kit presenter ctrl.) 49-747...,1,hendri apridzal
4,02 September 2020,90681.0,ATM120044005,graha energy,pm 1,preventive maintenance,"check & clean all devices, no replace, test ok.",-,-,0,ozi medina
6,29 Maret 2020,87602.0,ATM20002001,bkp medan,pm pertama,preventive maintenance,"check & clean all devices, no replace, test ok.",-,-,0,rajamin nasution
7,27 April 2020,87445.0,ATM20002001,bkp medan,pm pertama,preventive maintenance,"check & clean all devices, no replace, test ok.",-,-,0,rajamin nasution
...,...,...,...,...,...,...,...,...,...,...,...
3656,10 Januari 2020,86892.0,ATM20099001,bsb cabang salemba,support,installation,"check & clean all devices, install ulang, no r...",-,-,0,ozi medina
3657,26 Mei 2020,88731.0,ATM20099004,bsb cabang bekasi,error & pm,hardware,"check & clean all devices, replace ..............",2005-068,"ca pwr, ac vga 15 inch",1,m. yani
3658,01 Juli 2020,88730.0,ATM20099005,bsb capem kramat jati,support,hardware,"check & clean all devices, replace ....crd.......",2007-094,card reader motorized,1,m. yani
3659,09 November 2020,90731.0,ATM20099007,capem bsd tangerang,support,hardware,"check & clean all devices, replace ..............",2011-1432,motherboard p 90 - kit,1,m. yani
3660,27 Mei 2020,88655.0,ATM20099009,bsb rs jatisampurna,error & pm,non hardware,"check & clean all devices, replace ..............",-,stripper wheel,1,m. yani

Mengubah tipe data `nomor` menjadi string

In [24]:
df['nomor']

1       88826.0
2       86010.0
4       90681.0
6       87602.0
7       87445.0
         ...
3656    86892.0
3657    88731.0
3658    88730.0
3659    90731.0
3660    88655.0
Name: nomor, Length: 3027, dtype: float64

In [25]:
df['nomor'] = df['nomor'].astype(str)
df['nomor'] = df['nomor'].str[:5]

In [26]:
df['nomor']

1       88826
2       86010
4       90681
6       87602
7       87445
        ...
3656    86892
3657    88731
3658    88730
3659    90731
3660    88655
Name: nomor, Length: 3027, dtype: object

Memisah kolom `tanggal` menjadi `tgl`, `bln`, `thn`; Mengubah `bln` menjadi numeric; Mengubah tipe data menjadi int

In [27]:
df['tgl'] = df['tanggal'].str[:2]
df['bln'] = df['tanggal'].str[3:-5]
df['thn'] = df['tanggal'].str[-4:]

In [28]:
df.drop('tanggal', axis=1, inplace=True)

In [29]:
df[df['bln'].str.contains('Januari')].head(3)

,nomor,atm_id,lokasi,jenis_layanan,lap_kerusakan,perlakuan,no_tiket,sparepart,jml_part,cse,tgl,bln,thn
15,87621,ATM20002001,bkp medan,pm pertama,preventive maintenance,"check & clean all devices, no replace, test ok.",-,-,0,rajamin nasution,27,Januari,2020
25,87623,ATM20002002,bkp ar hakim mdn,pm pertama,preventive maintenance,"check & clean all devices, no replace, test ok.",-,-,0,rajamin nasution,28,Januari,2020
35,87624,ATM20002003,kcp binjai,pm pertama,preventive maintenance,"check & clean all devices, no replace, test ok.",-,-,0,rajamin nasution,29,Januari,2020

In [30]:
df['bln'].value_counts()

Januari      314
Oktober      270
Maret        267
Desember     263
September    257
November     256
Juli         255
Agustus      252
Februari     241
Juni         230
Mei          211
April        211
Name: bln, dtype: int64

In [31]:
df['bln'] = df['bln'].replace('Januari', '01')
df['bln'] = df['bln'].replace('Februari', '02')
df['bln'] = df['bln'].replace('Maret', '03')
df['bln'] = df['bln'].replace('April', '04')
df['bln'] = df['bln'].replace('Mei', '05')
df['bln'] = df['bln'].replace('Juni', '06')
df['bln'] = df['bln'].replace('Juli', '07')
df['bln'] = df['bln'].replace('Agustus', '08')
df['bln'] = df['bln'].replace('September', '09')
df['bln'] = df['bln'].replace('Oktober', '10')
df['bln'] = df['bln'].replace('November', '11')
df['bln'] = df['bln'].replace('Desember', '12')

In [32]:
df['bln'].value_counts()

01    314
10    270
03    267
12    263
09    257
11    256
07    255
08    252
02    241
06    230
04    211
05    211
Name: bln, dtype: int64

In [33]:
df['tgl'] = df['tgl'].astype(int)
df['bln'] = df['bln'].astype(int)
df['thn'] = df['thn'].astype(int)

Save ke excel

In [34]:
book = load_workbook('data-cleaned.xlsx')
writer = pd.ExcelWriter('data-cleaned.xlsx', engine = 'openpyxl')
writer.book = book

In [35]:
df.to_excel(writer, sheet_name='data_aktifitas')
writer.save()
writer.close()

Load kembali

In [36]:
load_data = pd.read_excel('data-cleaned.xlsx', sheet_name='data_aktifitas', index_col=0)
load_data

,nomor,atm_id,lokasi,jenis_layanan,lap_kerusakan,perlakuan,no_tiket,sparepart,jml_part,cse,tgl,bln,thn
1,88826.0,ATM00001,ruang uat dpti,error,hardware,"check & clean all devices, replace ..............",2007-100,hard disk,1,m. yani,16,7,2020
2,86010.0,ATM120029008,pln ahmad yani,error,hardware,"check & clean all devices, replace epp5 & cca ...",2003-028,cca dispenser (cca kit presenter ctrl.) 49-747...,1,hendri apridzal,3,3,2020
4,90681.0,ATM120044005,graha energy,pm 1,preventive maintenance,"check & clean all devices, no replace, test ok.",-,-,0,ozi medina,2,9,2020
6,87602.0,ATM20002001,bkp medan,pm pertama,preventive maintenance,"check & clean all devices, no replace, test ok.",-,-,0,rajamin nasution,29,3,2020
7,87445.0,ATM20002001,bkp medan,pm pertama,preventive maintenance,"check & clean all devices, no replace, test ok.",-,-,0,rajamin nasution,27,4,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3656,86892.0,ATM20099001,bsb cabang salemba,support,installation,"check & clean all devices, install ulang, no r...",-,-,0,ozi medina,10,1,2020
3657,88731.0,ATM20099004,bsb cabang bekasi,error & pm,hardware,"check & clean all devices, replace ..............",2005-068,"ca pwr, ac vga 15 inch",1,m. yani,26,5,2020
3658,88730.0,ATM20099005,bsb capem kramat jati,support,hardware,"check & clean all devices, replace ....crd.......",2007-094,card reader motorized,1,m. yani,1,7,2020
3659,90731.0,ATM20099007,capem bsd tangerang,support,hardware,"check & clean all devices, replace ..............",2011-1432,motherboard p 90 - kit,1,m. yani,9,11,2020
3660,88655.0,ATM20099009,bsb rs jatisampurna,error & pm,non hardware,"check & clean all devices, replace ..............",-,stripper wheel,1,m. yani,27,5,2020