In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# import warnings
# warnings.filterwarnings('ignore')

In [11]:
df0 = pd.read_feather('D:/big-datasets/internship-telkom/training_df_feature/CW17_feature_0_30m.ftr')

In [14]:
df0

,user_id,level_1,date_time,reg,cwitel,speed_id,device_count_01,device_count_02,device_count_03,device_count_04,...,ser_acces_score_90,ser_acces_score_91,ser_acces_score_92,ser_acces_score_93,ser_acces_score_94,ser_acces_score_95,ser_acces_score_96,y,dth_,nacount
0,010e0ba3feb281af50f84cf90bf3b2539ddae52c243b2a...,0,2021-06-02 21:30:00,2,17,20M,5.0,6.0,4.0,4.0,...,3.0,3.0,3.0,NaN,NaN,NaN,NaN,-146.0,21,4
1,010e0ba3feb281af50f84cf90bf3b2539ddae52c243b2a...,1,2021-06-09 23:00:00,2,17,20M,4.0,2.0,4.0,5.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,193.0,23,3
2,010e0ba3feb281af50f84cf90bf3b2539ddae52c243b2a...,2,2021-06-10 00:00:00,2,17,20M,NaN,3.0,4.0,2.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,195.0,0,4
3,010e0ba3feb281af50f84cf90bf3b2539ddae52c243b2a...,3,2021-06-09 22:30:00,2,17,20M,2.0,4.0,5.0,3.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,192.0,22,3
4,010e0ba3feb281af50f84cf90bf3b2539ddae52c243b2a...,4,2021-06-09 17:30:00,2,17,20M,3.0,3.0,2.0,4.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,182.0,17,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6828,ffe56aa85cc3788f18822534c2d18f5e01a28254097079...,5,2021-06-24 12:30:00,2,17,20M,3.0,4.0,4.0,4.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,657.0,12,0
6829,ffe56aa85cc3788f18822534c2d18f5e01a28254097079...,6,2021-06-05 22:30:00,2,17,20M,4.0,4.0,5.0,4.0,...,4.0,3.0,3.0,3.0,3.0,4.0,3.0,-235.0,22,0
6830,ffe56aa85cc3788f18822534c2d18f5e01a28254097079...,7,2021-06-04 12:30:00,2,17,20M,2.0,2.0,1.0,3.0,...,3.0,3.0,4.0,4.0,3.0,4.0,3.0,-303.0,12,0
6831,ffe56aa85cc3788f18822534c2d18f5e01a28254097079...,8,2021-06-07 13:30:00,2,17,20M,2.0,1.0,1.0,1.0,...,2.0,3.0,3.0,3.0,3.0,3.0,3.0,-157.0,13,0
6832,ffe56aa85cc3788f18822534c2d18f5e01a28254097079...,9,2021-06-03 11:00:00,2,17,20M,3.0,3.0,2.0,2.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,-354.0,11,0

In [15]:
df0.columns

Index(['user_id', 'level_1', 'date_time', 'reg', 'cwitel', 'speed_id',
       'device_count_01', 'device_count_02', 'device_count_03',
       'device_count_04',
       ...
       'ser_acces_score_90', 'ser_acces_score_91', 'ser_acces_score_92',
       'ser_acces_score_93', 'ser_acces_score_94', 'ser_acces_score_95',
       'ser_acces_score_96', 'y', 'dth_', 'nacount'],
      dtype='object', length=1833)

In [16]:
df1 = pd.read_feather('D:/big-datasets/internship-telkom/training_df_feature/CW17_feature_1_30m.ftr')

In [17]:
df1

,device_count_01,device_count_02,device_count_03,device_count_04,device_count_05,device_count_06,device_count_07,device_count_08,device_count_09,device_count_10,...,ser_acces_score_95,ser_acces_score_96,user_id,date_time,cwitel,reg,speed_id,y,dth_,nacount
0,4.0,2.0,4.0,2.0,4.0,1.0,1.0,2.0,1.0,2.0,...,3.0,3.0,010e0ba3feb281af50f84cf90bf3b2539ddae52c243b2a...,2021-06-05 22:00:00,17,2,20M,1,22,3
1,72.0,74.0,65.0,71.0,59.0,62.0,65.0,54.0,42.0,75.0,...,3.0,3.0,012a0246ddd7c3ba7f9ec682bf37beaf7a3cd1270d8ed7...,2021-06-28 21:00:00,17,2,50M,1,21,0
2,3.0,3.0,5.0,4.0,4.0,2.0,2.0,1.0,1.0,1.0,...,2.0,1.0,017f967631f65a1fb4e3631bc552850ab8fba3e4b14358...,2021-06-12 08:00:00,17,2,10M,1,8,9
3,1.0,1.0,1.0,1.0,2.0,1.0,1.0,2.0,2.0,2.0,...,4.0,4.0,027cb063cb8eeb94da1501ace9f319304338b1557d5bed...,2021-06-08 14:30:00,17,2,1M,1,14,0
4,1.0,1.0,1.0,1.0,2.0,2.0,2.0,3.0,3.0,3.0,...,4.0,4.0,02e1ce4d56c5b8a70d83b99e16cbef252d6b51d1bc56c0...,2021-06-07 22:30:00,17,2,20M,1,22,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
693,4.0,3.0,2.0,2.0,4.0,3.0,3.0,2.0,1.0,2.0,...,3.0,3.0,feb113922219c56929aae5ef7edfed2af5ef6b9d9170c7...,2021-06-29 10:00:00,17,2,20M,1,10,0
694,4.0,4.0,4.0,6.0,4.0,2.0,3.0,4.0,4.0,4.0,...,NaN,NaN,ff8f5420b2a752d222764cb846f6b7c226584efcadc77b...,2021-06-14 15:00:00,17,2,20M,1,15,6
695,5.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,NaN,ff9599a0064589645a9357267461de931c08a3d098f317...,2021-06-17 10:00:00,17,2,20M,1,10,61
696,3.0,5.0,3.0,4.0,4.0,3.0,3.0,4.0,3.0,3.0,...,1.0,2.0,ffc7edfe565682412aa8a9b23157da8019a5a91714db86...,2021-06-23 18:00:00,17,2,20M,1,18,1
697,1.0,3.0,NaN,NaN,1.0,NaN,1.0,NaN,NaN,1.0,...,3.0,3.0,ffe56aa85cc3788f18822534c2d18f5e01a28254097079...,2021-06-10 19:30:00,17,2,20M,1,19,33

In [20]:
df0['y'].value_counts(bins=10).sort_index()

(-632.351, -496.0]     786
(-496.0, -361.0]       689
(-361.0, -226.0]      1077
(-226.0, -91.0]        715
(-91.0, 44.0]            0
(44.0, 179.0]          299
(179.0, 314.0]        1148
(314.0, 449.0]         804
(449.0, 584.0]         627
(584.0, 719.0]         688
Name: y, dtype: int64

In [21]:
dfa = pd.read_feather('D:/big-datasets/internship-telkom/Archive 3/CW14_feature_0_30m.ftr')
dfb = pd.read_feather('D:/big-datasets/internship-telkom/Archive 3/CW14_feature_1_30m.ftr')

In [22]:
dfa

,user_id,level_1,date_time,reg,cwitel,speed_id,device_count_01,device_count_02,device_count_03,device_count_04,...,ser_acces_score_90,ser_acces_score_91,ser_acces_score_92,ser_acces_score_93,ser_acces_score_94,ser_acces_score_95,ser_acces_score_96,y,dth_,nacount
0,007363effc070e5cb5198f8fe336c26dc92c628ca2beac...,0,2021-05-20 13:30:00,2,14,20M,5.0,5.0,5.0,4.0,...,2.0,2.0,2.0,3.0,3.0,3.0,3.0,151.0,13,2
1,007363effc070e5cb5198f8fe336c26dc92c628ca2beac...,1,2021-05-05 13:30:00,2,14,20M,4.0,4.0,4.0,4.0,...,1.0,2.0,2.0,3.0,3.0,3.0,3.0,-569.0,13,0
2,007363effc070e5cb5198f8fe336c26dc92c628ca2beac...,2,2021-05-05 16:00:00,2,14,20M,3.0,5.0,4.0,4.0,...,1.0,2.0,2.0,1.0,1.0,1.0,2.0,-564.0,16,0
3,007363effc070e5cb5198f8fe336c26dc92c628ca2beac...,3,2021-05-20 14:00:00,2,14,20M,5.0,5.0,5.0,5.0,...,1.0,2.0,2.0,2.0,3.0,3.0,3.0,152.0,14,2
4,007363effc070e5cb5198f8fe336c26dc92c628ca2beac...,4,2021-05-20 15:30:00,2,14,20M,5.0,5.0,4.0,5.0,...,1.0,2.0,1.0,1.0,2.0,2.0,2.0,155.0,15,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6016,ffd6e71fd7cfdf88b04ee2c31af359027b7d133fb23564...,5,2021-05-21 00:00:00,2,14,50M,1.0,1.0,1.0,1.0,...,4.0,4.0,4.0,4.0,4.0,4.0,4.0,266.0,0,2
6017,ffd6e71fd7cfdf88b04ee2c31af359027b7d133fb23564...,6,2021-05-03 01:30:00,2,14,50M,1.0,2.0,2.0,3.0,...,4.0,4.0,4.0,4.0,4.0,3.0,4.0,-595.0,1,0
6018,ffd6e71fd7cfdf88b04ee2c31af359027b7d133fb23564...,7,2021-05-24 19:00:00,2,14,50M,1.0,1.0,1.0,1.0,...,NaN,4.0,4.0,4.0,NaN,4.0,4.0,448.0,19,2
6019,ffd6e71fd7cfdf88b04ee2c31af359027b7d133fb23564...,8,2021-05-26 21:30:00,2,14,50M,1.0,1.0,1.0,1.0,...,4.0,4.0,4.0,4.0,4.0,4.0,4.0,549.0,21,0
6020,ffd6e71fd7cfdf88b04ee2c31af359027b7d133fb23564...,9,2021-05-03 06:00:00,2,14,50M,1.0,1.0,2.0,1.0,...,4.0,4.0,4.0,4.0,4.0,4.0,4.0,-586.0,6,0

In [23]:
dfb

,device_count_01,device_count_02,device_count_03,device_count_04,device_count_05,device_count_06,device_count_07,device_count_08,device_count_09,device_count_10,...,ser_acces_score_95,ser_acces_score_96,user_id,date_time,cwitel,reg,speed_id,y,dth_,nacount
0,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,007363effc070e5cb5198f8fe336c26dc92c628ca2beac...,2021-05-17 09:30:00,14,2,20M,1,9,94
1,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,3.0,01087b55cd2e1f60967634fc5dc09f53883661b57f6386...,2021-05-28 12:30:00,14,2,20M,1,12,64
2,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,...,NaN,NaN,019137e97f8aa2f38c15b8609b22e61634a16f3b94e2bb...,2021-05-07 19:30:00,14,2,20M,1,19,95
3,7.0,6.0,6.0,5.0,6.0,8.0,7.0,8.0,7.0,8.0,...,NaN,3.0,01aed73d43a065d5c6bd538644887318b2f1ac1da10732...,2021-05-10 09:30:00,14,2,40M,1,9,64
4,6.0,5.0,4.0,3.0,6.0,5.0,5.0,6.0,2.0,4.0,...,3.0,3.0,021e4e40d2e79678df0376ed7a918727d836a948b18cb5...,2021-05-03 11:30:00,14,2,5M,1,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
581,2.0,1.0,1.0,2.0,1.0,2.0,2.0,2.0,1.0,2.0,...,NaN,2.0,fe2c9b912ea49e00b661bdf7d0b26e95be53107547a47c...,2021-05-24 21:30:00,14,2,20M,1,21,12
582,6.0,7.0,6.0,10.0,NaN,9.0,6.0,12.0,10.0,15.0,...,3.0,2.0,fe7be917b3f52ddd840e8f9ca05cba44e1485e74a1f65b...,2021-05-06 21:00:00,14,2,20M,1,21,1
583,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,...,3.0,3.0,fe9129deea28c99f33d27bf706670ad9552a8b88dc295e...,2021-05-12 18:00:00,14,2,20M,1,18,10
584,2.0,3.0,2.0,3.0,3.0,2.0,3.0,1.0,2.0,3.0,...,1.0,2.0,feae53c0a985c79fd07bce90b746ccc2c6a4b9ef716f39...,2021-05-06 13:00:00,14,2,20M,1,13,0
585,7.0,6.0,4.0,3.0,6.0,5.0,6.0,5.0,3.0,4.0,...,3.0,3.0,ffd6e71fd7cfdf88b04ee2c31af359027b7d133fb23564...,2021-05-15 10:30:00,14,2,50M,1,10,0

In [24]:
df0[(df0['y'] > 1) & (df0['y'] < 48)]

Empty DataFrame
Columns: [user_id, level_1, date_time, reg, cwitel, speed_id, device_count_01, device_count_02, device_count_03, device_count_04, device_count_05, device_count_06, device_count_07, device_count_08, device_count_09, device_count_10, device_count_11, device_count_12, device_count_13, device_count_14, device_count_15, device_count_16, device_count_17, device_count_18, device_count_19, device_count_20, device_count_21, device_count_22, device_count_23, device_count_24, device_count_25, device_count_26, device_count_27, device_count_28, device_count_29, device_count_30, device_count_31, device_count_32, device_count_33, device_count_34, device_count_35, device_count_36, device_count_37, device_count_38, device_count_39, device_count_40, device_count_41, device_count_42, device_count_43, device_count_44, device_count_45, device_count_46, device_count_47, device_count_48, device_count_49, device_count_50, device_count_51, device_count_52, device_count_53, device_count_54, device_count_55, device_count_56, device_count_57, device_count_58, device_count_59, device_count_60, device_count_61, device_count_62, device_count_63, device_count_64, device_count_65, device_count_66, device_count_67, device_count_68, device_count_69, device_count_70, device_count_71, device_count_72, device_count_73, device_count_74, device_count_75, device_count_76, device_count_77, device_count_78, device_count_79, device_count_80, device_count_81, device_count_82, device_count_83, device_count_84, device_count_85, device_count_86, device_count_87, device_count_88, device_count_89, device_count_90, device_count_91, device_count_92, device_count_93, device_count_94, ...]
Index: []

[0 rows x 1833 columns]

In [25]:
df0[(df0['y'] > 48)]

,user_id,level_1,date_time,reg,cwitel,speed_id,device_count_01,device_count_02,device_count_03,device_count_04,...,ser_acces_score_90,ser_acces_score_91,ser_acces_score_92,ser_acces_score_93,ser_acces_score_94,ser_acces_score_95,ser_acces_score_96,y,dth_,nacount
1,010e0ba3feb281af50f84cf90bf3b2539ddae52c243b2a...,1,2021-06-09 23:00:00,2,17,20M,4.0,2.0,4.0,5.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,193.0,23,3
2,010e0ba3feb281af50f84cf90bf3b2539ddae52c243b2a...,2,2021-06-10 00:00:00,2,17,20M,NaN,3.0,4.0,2.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,195.0,0,4
3,010e0ba3feb281af50f84cf90bf3b2539ddae52c243b2a...,3,2021-06-09 22:30:00,2,17,20M,2.0,4.0,5.0,3.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,192.0,22,3
4,010e0ba3feb281af50f84cf90bf3b2539ddae52c243b2a...,4,2021-06-09 17:30:00,2,17,20M,3.0,3.0,2.0,4.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,182.0,17,3
5,010e0ba3feb281af50f84cf90bf3b2539ddae52c243b2a...,5,2021-06-09 19:30:00,2,17,20M,3.0,4.0,3.0,5.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,186.0,19,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6818,ffc7edfe565682412aa8a9b23157da8019a5a91714db86...,5,2021-06-28 20:00:00,2,17,20M,5.0,4.0,3.0,4.0,...,4.0,4.0,4.0,4.0,3.0,3.0,4.0,243.0,20,0
6819,ffc7edfe565682412aa8a9b23157da8019a5a91714db86...,6,2021-06-26 23:30:00,2,17,20M,7.0,7.0,6.0,4.0,...,2.0,3.0,4.0,4.0,4.0,4.0,4.0,154.0,23,0
6823,ffe56aa85cc3788f18822534c2d18f5e01a28254097079...,0,2021-06-24 22:00:00,2,17,20M,2.0,2.0,2.0,2.0,...,3.0,3.0,3.0,3.0,3.0,2.0,3.0,676.0,22,0
6826,ffe56aa85cc3788f18822534c2d18f5e01a28254097079...,3,2021-06-15 15:30:00,2,17,20M,1.0,1.0,1.0,1.0,...,3.0,3.0,2.0,2.0,3.0,3.0,3.0,231.0,15,0
6828,ffe56aa85cc3788f18822534c2d18f5e01a28254097079...,5,2021-06-24 12:30:00,2,17,20M,3.0,4.0,4.0,4.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,657.0,12,0

In [26]:
df0[(df0['y'] < -1) & (df0['y'] > -48)]

Empty DataFrame
Columns: [user_id, level_1, date_time, reg, cwitel, speed_id, device_count_01, device_count_02, device_count_03, device_count_04, device_count_05, device_count_06, device_count_07, device_count_08, device_count_09, device_count_10, device_count_11, device_count_12, device_count_13, device_count_14, device_count_15, device_count_16, device_count_17, device_count_18, device_count_19, device_count_20, device_count_21, device_count_22, device_count_23, device_count_24, device_count_25, device_count_26, device_count_27, device_count_28, device_count_29, device_count_30, device_count_31, device_count_32, device_count_33, device_count_34, device_count_35, device_count_36, device_count_37, device_count_38, device_count_39, device_count_40, device_count_41, device_count_42, device_count_43, device_count_44, device_count_45, device_count_46, device_count_47, device_count_48, device_count_49, device_count_50, device_count_51, device_count_52, device_count_53, device_count_54, device_count_55, device_count_56, device_count_57, device_count_58, device_count_59, device_count_60, device_count_61, device_count_62, device_count_63, device_count_64, device_count_65, device_count_66, device_count_67, device_count_68, device_count_69, device_count_70, device_count_71, device_count_72, device_count_73, device_count_74, device_count_75, device_count_76, device_count_77, device_count_78, device_count_79, device_count_80, device_count_81, device_count_82, device_count_83, device_count_84, device_count_85, device_count_86, device_count_87, device_count_88, device_count_89, device_count_90, device_count_91, device_count_92, device_count_93, device_count_94, ...]
Index: []

[0 rows x 1833 columns]